
<div class="card">
    <form [formGroup]="form">
        <h2 class="sing-up">Sign Up</h2>
        <label class="label" for="email">Email
            <input class="form-input" type="text" formControlName="email" placeholder="Enter email">
        </label>
        <label class="label" for="password">Password
            <input class="form-input" type="text" formControlName="password" placeholder="Enter password">
        </label>
        <button class="form-btn">Sign Up</button>

        <p class="guest-message">Or login as anonymous</p>
        <button class="guest-btn">
            <img class="guest-img" src="https://thumbs.dreamstime.com/b/%D0%B7%D0%BD%D0%B0%D1%87%D0%BE%D0%BA-%D0%B0%D0%B2%D0%B0%D1%82%D0%B0%D1%80-%D0%BF%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8F-%D0%BF%D0%BE-%D1%83%D0%BC%D0%BE%D0%BB%D1%87%D0%B0%D0%BD%D0%B8%D1%8E-%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%BC%D0%B5%D0%B4%D0%B8%D0%B0-%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-210115353.jpg" alt="">
        </button>

        <div class="login-text">Do you already have an account?</div> 
        <a class="form-btn login" routerLink="/login">Login</a>   
    </form>
        
</div>


