.card{
    margin: 100px auto 0;
    width: 300px;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
}
.sing-up{
    text-align: center;
}
.label{
    font-size: 14px;
}
.form-input{
    display: block;
    width: 282px;
    margin: 3px auto 15px;
    border: none;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #c2ab67;
    border-radius: 3px;
    padding: 2px 8px;
    outline: none;
    
}
.form-input:focus{
    border: 1px solid #c2ab67;
}
.form-btn{
    cursor: pointer;
    width: 80px;
    background-color: #fffaeb;
    border-radius: 5px;
    border: 1px solid #ff9800;
    display: block;
    margin: 25px auto 20px;
    text-align: center;
}
.form-btn.login{
    width: 90px;
    padding: 1px 2px;
}
.form-btn.login::after{
    content: "→";
    margin-left: 5px;
}
.form-btn.login:hover{
    background-color: #fcefc7;
}
.guest-message{
    text-align: center;
    margin-bottom: 5px;
}
.guest-btn{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.guest-img{
    height: 45px;
}
.login-text{
    text-align: center;
    margin-bottom: 5px;
}

