.nav{
    margin: 20px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    cursor: pointer;
    font-size: 16px;
    margin-right: 40px;
    color: black;
    border: none;
    background-color: #fffaeb;
    font-family: 'Comfortaa';
}
.nav-item:hover{
    text-decoration: underline;
}

