<div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 class="login">Login</h2>
        <label class="label" for="email">Email</label>
        <input 
        class="form-input" 
        type="text" 
        formControlName="email" 
        placeholder="Enter email"
        >
        
       

        <label class="label" for="password">Password </label>

        <input 
        class="form-input" 
        type="text" 
        formControlName="password" 
        placeholder="Enter password"
        >
        
        <button type="submit" class="form-btn">Login</button>
    </form>

    <p class="registred">You are not registred?</p>
    <a class="form-btn signup" routerLink="/signup">Sign Up</a> 
        
</div>
